NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:4000"

# Needs to match backend secrets for middleware JWT verification
JWT_ACCESS_SECRET="your-access-secret-min-32-chars-here"
